:root {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
}

.produto {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    
}