:root {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
}

.produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.delete-button {
    color: red;
}

.navbar {
    background-color: beige;
}

.navbar ul {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    list-style: none;
    text-align: center;
}

.navbar a {
    color: #000;
    text-decoration: none;
}